@charset "UTF-8";@import url(https://use.typekit.net/nvi8mlk.css);

.timeline__item:last-child 
.timeline__marker:before{display:none}
.timeline__marker{display:none}
.timeline__marker:before{position:absolute;content:"";top:30px;left:calc(50% - 2px);width:4px;background-color:#64abd6;height:calc(100% + 55px)}
.timeline__marker:after{content:"";top:calc(50% - 6px);left:calc(50% - 6px);height:12px;width:12px;background-color:#fff;border-radius:100%;position:absolute}
.h-color-white{color:#fff!important}
.h-color-gray-light{color:#c7d1d9!important}
.h-pb-0{padding-bottom:0!important}
.h-text-center{text-align:center!important}body,html{background-color:#fff;height:100%}
.container{position:relative;display:flex;flex-direction:column;margin:0 auto;padding:0 20px;max-width:1100px}a{color:#2969a8;text-decoration:none;font-weight:500}
.wrap.wrap--blue-superdark{overflow:hidden;background-color:#0e243a!important}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}body{margin:0}a{background-color:transparent}img{border:0;display:block;height:auto;max-width:100%;-ms-interpolation-mode:bicubic;vertical-align:middle}button{font-family:inherit;font-size:100%;margin:0}button{line-height:normal}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner{border:0;padding:0}h1,h2,h3{margin:0}body{font-family:proxima-soft,sans-serif;font-size:18px;color:#eaeef1}h1{font-size:38px;font-family:proxima-soft,sans-serif;font-weight:700;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.3em}h2{font-size:30px;font-family:proxima-soft,sans-serif;font-weight:700;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.3em}h3{font-size:24px;font-family:proxima-soft,sans-serif;font-weight:700;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.3em}h1{font-size:24px;line-height:1.3}
@media only screen and (min-width:720px){h1{font-size:38px}}h2{font-size:22px}
@media only screen and (min-width:720px){h2{font-size:30px}}h3{font-size:22px}
@media only screen and (min-width:720px){h3{font-size:24px}}p{margin:0 0 15px;font-size:16px;line-height:1.5}
@media only screen and (min-width:720px){p{font-size:18px}}p:last-child{margin-bottom:0}
.btn-naked{background-color:transparent;border:none;color:inherit;font:inherit;padding:0;align-items:center;color:#2969a8}.heading{text-align:center;margin:44px auto;padding:0;max-width:800px}
@media only screen and (min-width:960px){
    .heading{margin:62px auto}
    .heading__subtitle{font-size:20px}}
    .heading__subtitle{margin-top:20px}
.card{position:relative;display:flex;flex:1;flex-direction:column;margin:0 0 20px;border-radius:12px;overflow:hidden}
.card:first-child{margin-left:0}
.card:last-child{margin-right:0}
.card--with-hover-light{background:#abcbeb}
.card--with-hover-light 
.card__title h3{color:#000}
.card--with-hover-light 
.card__body{color:#29343d}
.card__cover+.card__title{margin:24px 0 12px}
.card__cover{padding:32px}
.card__cover--center{display:flex;justify-content:center}
.card__cover-image{display:flex;max-width:200px;align-content:flex-start}@media only screen and (min-width:960px){.card{margin:0 12px}
.card__cover-image{max-width:280px}}
.card__title+.card__body{padding-top:0}
.card__title{margin:24px 0;padding:0 32px}
.card__body{padding:32px 32px 16px}
.navigation-primary{display:flex;flex-direction:column;justify-content:space-between;z-index:1;margin:0 auto;border-bottom:2px solid;padding:12px 0;width:100%;max-width:1056px}
.navigation-primary__logo{display:flex;margin-right:auto;height:36px}
.navigation-primary__logo img{width:120px}
@media only screen and (min-width:960px){
    .navigation-primary{padding:24px 0;flex-direction:row;align-items:center;justify-content:flex-end}
    .navigation-primary__logo{height:auto}
    .navigation-primary__logo img{width:180px}}
    .navigation-primary__links{display:none;flex-direction:column}
    .navigation-primary__links a{margin:0 16px;font-weight:500;color:#fff}
    .navigation-primary__links a:last-child{margin-right:0}
    .navigation-primary__links a.is-active{color:#6ca4db}
    .navigation-primary__toggle{display:flex;position:absolute;top:20px;right:24px}@media only screen and (min-width:960px){.navigation-primary__links{display:flex;justify-content:center;flex-direction:row;margin-right:24px}.navigation-primary__toggle{display:none}}
    .header-default{display:flex;position:relative;flex-direction:column;align-items:center;margin-bottom:0 62px;padding:44px 0 20px;text-align:center}
    .header-default__title{margin:0 auto 32px;text-align:center;max-width:800px}
    .header-default__image{margin-top:44px}@media only screen and (min-width:960px){.header-default{padding:62px 0 20px}
    .header-default__image{max-width:800px}}
    .audience{position:relative;display:flex;flex-direction:column;justify-content:center;padding-bottom:20px}@media only screen and (min-width:960px){.audience{flex-direction:row}
    .audience .card{max-width:400px}}